/* Blocks */

.albums-container {
    background-image: url("images/albums-background-image.jpg");
    background-position: 35% 0;
}

.title-center {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: calc(2em + 4vw);
}

.main-wrapper {
    font-family: var(--main-font);
    color: var(--main-color);
    width: 100%;
    min-width: 360px;
}

.album-scroll-container {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 20px;

    padding: 0 15px;
    width: 100%;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    scrollbar-width: none;
}

.album {
    display: flex;
    flex-direction: column;
    width: 200px;
}

/* Elements */

.album-image {
    min-height: 150px;
    height: 25vh;
}

.album-name {
    text-align: center;
    margin: 0 auto;
}