/***** 
Blocks 
*****/

.albums-container {
    background-image: url("images/albums-background-image.jpg");
    background-position: 35% 0;
}

.title-center {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: calc(2em + 4vw);
}

.main-wrapper {
    font-family: var(--main-font);
    color: var(--main-color);
    width: 100%;
    min-width: 360px;
}

.album-scroll-container {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 20px;

    width: 100%;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    scrollbar-width: none;
}

.album {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.info-container {
    width: calc(100% - 30px);
    height: 200px;

    margin: 40px auto;
    padding-top: 1px;

    background-color: rgba(14, 14, 14, 0.801);
}

/*****
Elements 
*****/

.album-image {
    width: 100%;
}

.album-name {
    text-align: center;
    margin: 10px auto;
    font-size: 1.25em;
}

.info-container h2,
h3 {
    text-align: center;
}

/*****
Modifiers
*****/

#album-1 {
    margin-left: 15px;
}

/* Quick fix for border-box effect, adding padding requires adding width */
#album-5 {
    padding-right: 15px;
    width: 215px;
}