/* Blocks */

.life-container {
    background-image: url("images/life-background-image.jpg");
    background-position: 50% 0;
}

.main-wrapper {
    margin: 0 20px;
    padding: 0 10px;
    font-family: var(--main-font);
    color: var(--main-color);
}

/* Elements */

.card {
    display: grid;
    grid-column-gap: 5px;
    position: relative;
}

.card-title {
    margin: 0;
    padding-bottom: 3px;

    font-size: calc(.9em + 2.5vw);
    font-weight: 400;
}

.card-list {
    list-style: none;

    margin: 0;
    padding: 0;

    font-size: calc(.7em + 1.25vw);
    font-weight: 300;
}

/* Modifiers */

.title-center {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: calc(2em + 4vw);
}

.card-left {
    grid-template-columns: 20px auto;
}

.card-right {
    grid-template-columns: auto 20px;
    text-align: right;
}

.card-2 {
    bottom: 60px;
}

.card-3 {
    bottom: 118px;
}

.card-title-left {
    grid-column: 2 / 3;
}

.card-title-right {
    grid-column: 1 / 2;
}

.card-list-left {
    grid-column: 2 / 3;
}

.card-list-right {
    grid-column: 1 / 2;
}

/* Shapes */

.card-bullet {
    width: 20px;

    align-self: center;
    grid-row: 1 / 3;

    filter: invert(100%);
}

.bullet-left {
    grid-column: 1 / 2;
}

.bullet-right {
    grid-column: 2 / 3;
}

.line-1 {
    width: 2px;
    height: 55px;
    background-color: #fff;
}

.line-2 {
    width: calc(100% - 18px);
    height: 2px;
    background-color: #fff;
}

.line-3 {
    width: 2px;
    height: 40px;
    background-color: #fff;
}

.align {
    position: relative;
    left: 9px;
}

.align-far {
    position: relative;
    left: calc(100% - 11px);
}

.shape-1 {
    bottom: 30px;
}

.shape-2 {
    bottom: 88px;
}

.shape-3 {
    bottom: 145px;
}